* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

:root {
    --brand-main-color: #2196f3;
    --brand-second-color: #ffffff;
    --brand--third-color: #2f303a;
    --text-main-color: #212121;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--text-main-color);
    background: var(--brand-second-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo-bluecolor {
    color: var(--brand-main-color);
}
.logo-blackcolor {
    color: var(--text-main-color);
}
.logo-whitecolor {
    color: var(--brand-second-color);
}
.link {
    text-decoration: none;
    color: var(--text-main-color);
    transition: var(--transition);
    transition-property: color, background-color, box-shadow;
}

.link:visited {
    color: var(--text-main-color);
}
.link:active,
.link:hover,
.link:focus {
    color: var(--brand-main-color);
}

/* header */

.head {
    height: 80px;
    display: flex;
    background: var(--brand-second-color);
    border-bottom: 1px solid #ececec;
}

.head .container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    padding-right: 93px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 46px;
}
a.link.activepage {
    position: relative;
}

.activepage::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 4px solid var(--brand-main-color);
    border-radius: 2px;
    width: 100%;
    bottom:-33px;
    left: 0;
}

.head-contact {
    margin-left: auto;
    margin-right: 12px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    list-style: none;
}
.head-contact a {
    color: #757575;
    margin-left: 50px;
}
.icon-contact {
    fill: #afb1b8;
    
    transition: var(--transition);
    transition-property: fill;
}
.icon-contact:active,
.icon-contact:hover,
.icon-contact:focus {
    fill: var(--brand-main-color);
}

.icon-contact:hover svg {
    fill: var(--brand-main-color);
}

/* banner */
.banner-main {
    min-height: 600px;
    display: flex;
    background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/banner.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-second-color);
}

.banner-main-button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: var(--brand-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
}
.banner-main-button-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--brand-second-color);
}

/* nasze atuty */
.asset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
.asset-item {
    max-width: 270px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: #757575;
}
.asset-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    list-style-type: none;
}
h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-main-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.asset-item:nth-child(4n + 1) {
    margin-left: 0;
}
.asset-item:nth-child(4n + 4) {
    margin-right: 0;
}
.asset-item-icon:nth-child(4n + 1) {
    margin-left: 0;
}
.asset-item-icon:nth-child(4n + 4) {
    margin-right: 0;
}
/* czym sie zajmujemy */
.pref {
    display: flex;
    justify-content: center;
}

.pref-item {
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    position: relative;
}

.pref-item-discription {
    width: 370px;
    height: 70px;
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.8) 0%,
        rgba(47, 48, 58, 0.8) 100%
    );
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.pref-item:first-child {
    margin-left: 0;
}
.pref-item:last-child {
    margin-right: 0;
}
.section-pref {
    padding-top: 0;
}

/* nasz zespol */
.team {
    background-color: #f5f4fa;
}
.team-item {
    display: inline-flex;
    align-items: center;
    list-style: none;
}
.team-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    background-color: var(--brand-second-color);
}
.team-person > p {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}
.team-person:first-child {
    margin-left: 0;
}
.team-person:last-child {
    margin-right: 0;
}
.icon-team {
    fill: #afb1b8;
    background-color: var(--brand-second-color);
    border-radius: 50%;
    transition: var(--transition);
    transition-property: fill, background-color;
    
}

.icon-team:active,
.icon-team:hover,
.icon-team:focus {
    fill: var(--brand-second-color);
    background-color: var(--brand-main-color);
}
.team-item-social {
    margin-top: 16px;
    margin-bottom: 30px;
    width: 206px;
    height: 44px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Nasi klienci */
.client {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    
    transition: var(--transition);
    transition-property: border-color;
}

.icon-client {
    fill: #afb1b8;
    transition: var(--transition);
    transition-property: fill;
}

.client-item:hover svg {
    fill: var(--brand-main-color);
}
.client-item:hover {
    border-color: var(--brand-main-color);
}

/* Portfolio */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;
}
.filter-button:active,
.filter-button:hover,
.filter-button:focus {
    color: var(--brand-second-color);
    background: var(--brand-main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.filter-button {
    width: 114px;
    height: 38px;
    margin-right: 4px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background: #f5f4fa;
    border-radius: 4px;
    border: 0px;
    transition: var(--transition);
    transition-property: color, background, box-shadow;
}
.filter > li:first-child {
    margin-left: 0;
}
.filter > li:last-child {
    margin-right: 0;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.portfolio-item {
    position: relative;
    width: 370px;
    height: 404px;
    margin: 15px;
    list-style-type: none;
    background: var(--brand-second-color);
    overflow: hidden;
    cursor: pointer;
    transition: var(--transition);
    transition-property: box-shadow;
}
.portfolio-item > img {
    object-fit: cover;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: var(--transition);
    transition-property: transform;
}

.overlay > p {
    text-align: left;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #ffffff;
}
.portfolio-item-description {
    z-index: 1001;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: -6px;
    list-style: none;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.portfolio-item .portfolio-item-description h3 {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: var(--text-main-color);
}
.portfolio-item .portfolio-item-description p {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #757575;
}

.portfolio-item:nth-child(3n + 1) {
    margin-left: 0;
}
.portfolio-item:nth-child(3n + 3) {
    margin-right: 0;
}
.portfolio-item:nth-child(n + 7) {
    margin-bottom: 0;
}
.portfolio-item:nth-child(-n + 3) {
    margin-top: 0;
}
.portfolio-item:active,
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* footer */
.footer-logo {
    text-align: left;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
footer {
    background-color: #2f303a;
}
.contact {
    display: flex;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
}
address {
    padding-top: 20px;

    color: var(--brand-second-color);
    text-decoration: none;
    font-style: normal;
    list-style: none;
    padding-bottom: 9px;
}
.footer-contact li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    padding-bottom: 9px;
    text-align: left;
}
.footer-contact a {
    color: rgba(255, 255, 255, 0.6);
}

.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-social {
    text-align: left;
    width: 206px;
    height: 80px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.icon-footer {
    fill: var(--brand-second-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: var(--transition);
    transition-property: background-color;
}
.icon-footer:active,
.icon-footer:hover,
.icon-footer:focus {
    background-color: var(--brand-main-color);
}

.social h3 {
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: var(--brand-second-color);
}

.social {
    margin-top: 12px;
    padding-left: 70px;
}

/* okno modalne backdrop */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    transition-property: transform, visibility, opacity;
    
    
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--brand-second-color);
    
    transition: var(--transition);
    transition-property: transform;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--brand-second-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
    
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.icon-modal {
    fill: var(--brand--third-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.is-hidden .modal {
    transform: translate(100%);
    
}
